adf-tests-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-tests-df"
		},
		"KV_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://adf-tests-kv.vault.azure.net"
		},
		"LS_ASQL_AdfTesting_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "AdfTestingDbConnectionString"
		},
		"LS_ASQL_ExternalSystem_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ExternalSystemDbConnectionString"
		},
		"LS_ASQL_Parameterised_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().ConnectionStringSecretName"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KV_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KV_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_AdfTesting')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KV_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_ASQL_AdfTesting_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_ExternalSystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KV_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_ASQL_ExternalSystem_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_Parameterised')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ConnectionStringSecretName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KV_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('LS_ASQL_Parameterised_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_AdfTesting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_AdfTesting",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableSchema": {
						"type": "string",
						"defaultValue": "stg"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "Authors"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_AdfTesting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_ExternalSystem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_ExternalSystem",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableSchema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "Authors"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_ExternalSystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_Parameterised')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Parameterised",
					"type": "LinkedServiceReference",
					"parameters": {
						"ConnectionStringSecretName": {
							"value": "@dataset().ConnectionStringSecretName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ConnectionStringSecretName": {
						"type": "string"
					},
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_Parameterised')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Stage_Authors')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy src_Authors to stg_Authors",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.Authors",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "DS_ASQL_ExternalSystem",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "dbo",
									"TableName": "Authors"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Authors"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_ExternalSystem')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_AdfTesting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Stage_Titles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy src_Titles to stg_Titles",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set RunId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RunId",
										"value": {
											"value": "@variables('RunId')",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.Titles",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "DS_ASQL_ExternalSystem",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "dbo",
									"TableName": "Titles"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Titles"
								}
							}
						]
					},
					{
						"name": "Log pipeline start",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[LogPipelineStart]",
								"storedProcedureParameters": {
									"pipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Authors"
								}
							}
						}
					},
					{
						"name": "Set RunId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Log pipeline start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunId",
							"value": {
								"value": "@string(activity('Log pipeline start').output.firstRow.RunId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Log pipeline end",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy src_Titles to stg_Titles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[LogPipelineEnd]",
							"storedProcedureParameters": {
								"rowsCopied": {
									"value": {
										"value": "@activity('Copy src_Titles to stg_Titles').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runId": {
									"value": {
										"value": "@variables('RunId')",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_AdfTesting",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "-1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_ExternalSystem')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_AdfTesting')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_AdfTesting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Stage_Titles_With_Spy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy src_Titles to stg_Titles",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set RunId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RunId",
										"value": {
											"value": "@variables('RunId')",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.Titles",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "DS_ASQL_Parameterised",
								"type": "DatasetReference",
								"parameters": {
									"ConnectionStringSecretName": {
										"value": "@pipeline().parameters._SrcConnectionSecretName",
										"type": "Expression"
									},
									"TableSchema": {
										"value": "@pipeline().parameters._SrcTableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters._SrcTableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Titles"
								}
							}
						]
					},
					{
						"name": "Log pipeline start",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": {
									"value": "@pipeline().parameters._LogStartSpName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"pipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Authors"
								}
							}
						}
					},
					{
						"name": "Set RunId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Log pipeline start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunId",
							"value": {
								"value": "@string(activity('Log pipeline start').output.firstRow.RunId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Log pipeline end",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy src_Titles to stg_Titles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters._LogEndSpName",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"rowsCopied": {
									"value": {
										"value": "@activity('Copy src_Titles to stg_Titles').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runId": {
									"value": {
										"value": "@variables('RunId')",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_AdfTesting",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"_SrcConnectionSecretName": {
						"type": "string",
						"defaultValue": "ExternalSystemDbConnectionString"
					},
					"_SrcTableSchema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"_SrcTableName": {
						"type": "string",
						"defaultValue": "Titles"
					},
					"_LogStartSpName": {
						"type": "string",
						"defaultValue": "[[dbo].[LogPipelineStart]"
					},
					"_LogEndSpName": {
						"type": "string",
						"defaultValue": "[[dbo].[LogPipelineEnd]"
					}
				},
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "-1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Parameterised')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_AdfTesting')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_AdfTesting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Stage_Titles_With_Stub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy src_Titles to stg_Titles",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set RunId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "RunId",
										"value": {
											"value": "@variables('RunId')",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.Titles",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "DS_ASQL_Parameterised",
								"type": "DatasetReference",
								"parameters": {
									"ConnectionStringSecretName": {
										"value": "@pipeline().parameters._SrcConnectionSecretName",
										"type": "Expression"
									},
									"TableSchema": {
										"value": "@pipeline().parameters._SrcTableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters._SrcTableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Titles"
								}
							}
						]
					},
					{
						"name": "Log pipeline start",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[LogPipelineStart]",
								"storedProcedureParameters": {
									"pipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQL_AdfTesting",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "stg",
									"TableName": "Authors"
								}
							}
						}
					},
					{
						"name": "Set RunId",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Log pipeline start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunId",
							"value": {
								"value": "@string(activity('Log pipeline start').output.firstRow.RunId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Log pipeline end",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy src_Titles to stg_Titles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[LogPipelineEnd]",
							"storedProcedureParameters": {
								"rowsCopied": {
									"value": {
										"value": "@activity('Copy src_Titles to stg_Titles').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runId": {
									"value": {
										"value": "@variables('RunId')",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_AdfTesting",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"_SrcConnectionSecretName": {
						"type": "string",
						"defaultValue": "ExternalSystemDbConnectionString"
					},
					"_SrcTableSchema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"_SrcTableName": {
						"type": "string",
						"defaultValue": "Titles"
					}
				},
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "-1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Parameterised')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_AdfTesting')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_AdfTesting')]"
			]
		}
	]
}